{
  "openapi": "3.1.0",
  "info": {
    "title": "Dayopt API",
    "version": "1.0.0",
    "description": "Dayopt tRPC APIの自動生成仕様書。\n\n## ワイヤーフォーマット\nリクエスト/レスポンスはSuperJSONでエンコードされます。\nDate, BigInt等の非JSONプリミティブはSuperJSONメタデータで表現されます。\n\n## 認証\n3つの認証モードをサポート:\n1. **Session Cookie** — ブラウザ用（Supabase Auth）\n2. **OAuth 2.1 Bearer** — MCP/外部連携用\n3. **Service Role API Key** — 管理者用（x-api-key ヘッダー）\n\n## レート制限\n認証済みユーザー: 100 req/min（グローバル）。一部エンドポイントに固有制限あり。"
  },
  "servers": [
    {
      "url": "https://app.dayopt.com/api/trpc",
      "description": "Production"
    },
    {
      "url": "https://staging.dayopt.com/api/trpc",
      "description": "Staging"
    }
  ],
  "paths": {
    "/billing.getInfo": {
      "get": {
        "operationId": "billing.getInfo",
        "tags": ["billing"],
        "summary": "課金情報取得（サブスクリプション状態）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/billing.getOverview": {
      "get": {
        "operationId": "billing.getOverview",
        "tags": ["billing"],
        "summary": "課金情報一括取得（N+1解消、billingInfo+支払方法+請求書）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/billing.createCheckoutSession": {
      "post": {
        "operationId": "billing.createCheckoutSession",
        "tags": ["billing"],
        "summary": "Stripe Checkoutセッション作成",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/billing_createCheckoutSession_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/billing.getPaymentMethod": {
      "get": {
        "operationId": "billing.getPaymentMethod",
        "tags": ["billing"],
        "summary": "デフォルト支払い方法取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/billing.getInvoices": {
      "get": {
        "operationId": "billing.getInvoices",
        "tags": ["billing"],
        "summary": "請求書一覧取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/billing.createPortalSession": {
      "post": {
        "operationId": "billing.createPortalSession",
        "tags": ["billing"],
        "summary": "Stripe Customer Portalセッション作成",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/contact.submit": {
      "post": {
        "operationId": "contact.submit",
        "tags": ["contact"],
        "summary": "お問い合わせ送信（GitHub Issue作成）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contact_submit_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/email.sendWelcome": {
      "post": {
        "operationId": "email.sendWelcome",
        "tags": ["email"],
        "summary": "ウェルカムメール送信",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email_sendWelcome_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/email.sendReminder": {
      "post": {
        "operationId": "email.sendReminder",
        "tags": ["email"],
        "summary": "プランリマインダーメール送信",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email_sendReminder_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/email.sendOverdue": {
      "post": {
        "operationId": "email.sendOverdue",
        "tags": ["email"],
        "summary": "期限超過通知メール送信",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email_sendOverdue_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/email.sendAccountDeletion": {
      "post": {
        "operationId": "email.sendAccountDeletion",
        "tags": ["email"],
        "summary": "アカウント削除確認メール送信（GDPR対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email_sendAccountDeletion_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/email.sendTest": {
      "post": {
        "operationId": "email.sendTest",
        "tags": ["email"],
        "summary": "テストメール送信（開発環境のみ）",
        "deprecated": true,
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/email_sendTest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.list": {
      "get": {
        "operationId": "entries.list",
        "tags": ["entries"],
        "summary": "エントリ一覧取得（フィルタ・ソート・ページネーション対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_list_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getById": {
      "get": {
        "operationId": "entries.getById",
        "tags": ["entries"],
        "summary": "エントリ詳細取得（タグ情報含む）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getById_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.create": {
      "post": {
        "operationId": "entries.create",
        "tags": ["entries"],
        "summary": "エントリ作成（日次500件上限）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_create_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "500 req/24h",
        "x-auth-level": "protected"
      }
    },
    "/entries.update": {
      "post": {
        "operationId": "entries.update",
        "tags": ["entries"],
        "summary": "エントリ更新（楽観的ロック対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_update_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.delete": {
      "post": {
        "operationId": "entries.delete",
        "tags": ["entries"],
        "summary": "エントリ削除（ソフトデリート、復元可能）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_delete_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.restore": {
      "post": {
        "operationId": "entries.restore",
        "tags": ["entries"],
        "summary": "ソフト削除されたエントリを復元",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_restore_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.bulkUpdate": {
      "post": {
        "operationId": "entries.bulkUpdate",
        "tags": ["entries"],
        "summary": "複数エントリの一括更新",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_bulkUpdate_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.bulkDelete": {
      "post": {
        "operationId": "entries.bulkDelete",
        "tags": ["entries"],
        "summary": "複数エントリの一括削除（ソフトデリート）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_bulkDelete_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.bulkAddTags": {
      "post": {
        "operationId": "entries.bulkAddTags",
        "tags": ["entries"],
        "summary": "複数エントリにタグを一括設定",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_bulkAddTags_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getInstances": {
      "get": {
        "operationId": "entries.getInstances",
        "tags": ["entries"],
        "summary": "繰り返しエントリの例外情報取得（バッチ）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getInstances_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.createInstance": {
      "post": {
        "operationId": "entries.createInstance",
        "tags": ["entries"],
        "summary": "繰り返しエントリの例外作成（変更/キャンセル/移動）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_createInstance_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.deleteInstance": {
      "post": {
        "operationId": "entries.deleteInstance",
        "tags": ["entries"],
        "summary": "繰り返しエントリの例外削除",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_deleteInstance_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.splitRecurrence": {
      "post": {
        "operationId": "entries.splitRecurrence",
        "tags": ["entries"],
        "summary": "繰り返しエントリ分割（この日以降を別エントリに）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_splitRecurrence_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.addTag": {
      "post": {
        "operationId": "entries.addTag",
        "tags": ["entries"],
        "summary": "エントリにタグ追加（upsert）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_addTag_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.removeTag": {
      "post": {
        "operationId": "entries.removeTag",
        "tags": ["entries"],
        "summary": "エントリからタグ削除",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_removeTag_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.setTags": {
      "post": {
        "operationId": "entries.setTags",
        "tags": ["entries"],
        "summary": "エントリのタグ設定（1タグ制約、nullで解除）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/entries_setTags_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getTagStats": {
      "get": {
        "operationId": "entries.getTagStats",
        "tags": ["entries"],
        "summary": "タグ別統計取得（エントリ数・最終使用日）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getTimeByTag": {
      "get": {
        "operationId": "entries.getTimeByTag",
        "tags": ["entries"],
        "summary": "タグ別時間集計（期間フィルタ対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getTimeByTag_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getDailyHours": {
      "get": {
        "operationId": "entries.getDailyHours",
        "tags": ["entries"],
        "summary": "日別記録時間取得（ヒートマップ用）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getDailyHours_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getHourlyDistribution": {
      "get": {
        "operationId": "entries.getHourlyDistribution",
        "tags": ["entries"],
        "summary": "時間帯別分布取得（2時間スロット）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getHourlyDistribution_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getDayOfWeekDistribution": {
      "get": {
        "operationId": "entries.getDayOfWeekDistribution",
        "tags": ["entries"],
        "summary": "曜日別分布取得（月曜始まり）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getDayOfWeekDistribution_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getMonthlyTrend": {
      "get": {
        "operationId": "entries.getMonthlyTrend",
        "tags": ["entries"],
        "summary": "月別トレンド取得（デフォルト12ヶ月）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getMonthlyTrend_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getPlanRate": {
      "get": {
        "operationId": "entries.getPlanRate",
        "tags": ["entries"],
        "summary": "計画率KPI（計画エントリ / 全エントリ）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getPlanRate_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getEstimationAccuracy": {
      "get": {
        "operationId": "entries.getEstimationAccuracy",
        "tags": ["entries"],
        "summary": "見積もり精度KPI（タグ別の予定vs実績）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getEstimationAccuracy_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getEnergyMap": {
      "get": {
        "operationId": "entries.getEnergyMap",
        "tags": ["entries"],
        "summary": "エネルギーマップ（時間帯×曜日の活動分布）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getEnergyMap_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getContextSwitches": {
      "get": {
        "operationId": "entries.getContextSwitches",
        "tags": ["entries"],
        "summary": "コンテキストスイッチ回数（タグ変化頻度）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getContextSwitches_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getBlankRate": {
      "get": {
        "operationId": "entries.getBlankRate",
        "tags": ["entries"],
        "summary": "空白率KPI（未スケジュール時間の割合）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getBlankRate_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getCumulativeTime": {
      "get": {
        "operationId": "entries.getCumulativeTime",
        "tags": ["entries"],
        "summary": "合計記録時間取得（分単位）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getCumulativeTime_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getAvgFulfillment": {
      "get": {
        "operationId": "entries.getAvgFulfillment",
        "tags": ["entries"],
        "summary": "平均充実度取得（1-5スケール）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getAvgFulfillment_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getStreak": {
      "get": {
        "operationId": "entries.getStreak",
        "tags": ["entries"],
        "summary": "連続アクティブ日数（ストリーク）取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/entries.getStatsOverview": {
      "get": {
        "operationId": "entries.getStatsOverview",
        "tags": ["entries"],
        "summary": "全KPIサマリー一括取得（7指標を1クエリ）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/entries_getStatsOverview_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/suggestions.recentTitles": {
      "get": {
        "operationId": "suggestions.recentTitles",
        "tags": ["suggestions"],
        "summary": "最近のタイトル+タグサジェスト取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suggestions_recentTitles_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.list": {
      "get": {
        "operationId": "tags.list",
        "tags": ["tags"],
        "summary": "タグ一覧取得（ソート対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tags_list_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.getById": {
      "get": {
        "operationId": "tags.getById",
        "tags": ["tags"],
        "summary": "タグ詳細取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tags_getById_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.create": {
      "post": {
        "operationId": "tags.create",
        "tags": ["tags"],
        "summary": "タグ作成",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_create_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.update": {
      "post": {
        "operationId": "tags.update",
        "tags": ["tags"],
        "summary": "タグ更新（名前・色）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_update_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.merge": {
      "post": {
        "operationId": "tags.merge",
        "tags": ["tags"],
        "summary": "タグマージ（ソース→ターゲットに関連移行）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_merge_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.delete": {
      "post": {
        "operationId": "tags.delete",
        "tags": ["tags"],
        "summary": "タグ削除（エントリ削除/再割当て選択可）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_delete_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.renameGroup": {
      "post": {
        "operationId": "tags.renameGroup",
        "tags": ["tags"],
        "summary": "グループ一括リネーム（コロン記法プレフィックス）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_renameGroup_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.ungroupTags": {
      "post": {
        "operationId": "tags.ungroupTags",
        "tags": ["tags"],
        "summary": "グループ解除（プレフィックス除去）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_ungroupTags_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.deleteGroup": {
      "post": {
        "operationId": "tags.deleteGroup",
        "tags": ["tags"],
        "summary": "グループ一括削除",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_deleteGroup_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/tags.reorder": {
      "post": {
        "operationId": "tags.reorder",
        "tags": ["tags"],
        "summary": "タグ並び替え（バッチsort_order更新、最大200件）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tags_reorder_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/user.deleteAccount": {
      "post": {
        "operationId": "user.deleteAccount",
        "tags": ["user"],
        "summary": "アカウント即時削除（CASCADE DELETE）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_deleteAccount_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/user.deleteBlocks": {
      "post": {
        "operationId": "user.deleteBlocks",
        "tags": ["user"],
        "summary": "全エントリを削除（タグ・設定は保持）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_deleteBlocks_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/user.deleteAllData": {
      "post": {
        "operationId": "user.deleteAllData",
        "tags": ["user"],
        "summary": "全データを削除（アカウントは保持）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_deleteAllData_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/user.exportData": {
      "get": {
        "operationId": "user.exportData",
        "tags": ["user"],
        "summary": "ユーザーデータエクスポート（GDPR対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/user.verifyRecoveryCode": {
      "post": {
        "operationId": "user.verifyRecoveryCode",
        "tags": ["user"],
        "summary": "リカバリーコードでMFA認証（MFA無効化 + ログイン許可）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_verifyRecoveryCode_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.list": {
      "get": {
        "operationId": "notifications.list",
        "tags": ["notifications"],
        "summary": "通知一覧取得（フィルタ・ページネーション対応）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notifications_list_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.unreadCount": {
      "get": {
        "operationId": "notifications.unreadCount",
        "tags": ["notifications"],
        "summary": "未読通知数取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.getById": {
      "get": {
        "operationId": "notifications.getById",
        "tags": ["notifications"],
        "summary": "通知詳細取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON-encoded input（SuperJSON形式）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notifications_getById_input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.markAsRead": {
      "post": {
        "operationId": "notifications.markAsRead",
        "tags": ["notifications"],
        "summary": "通知を既読にする（単一）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notifications_markAsRead_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.markAllAsRead": {
      "post": {
        "operationId": "notifications.markAllAsRead",
        "tags": ["notifications"],
        "summary": "通知を一括既読にする",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notifications_markAllAsRead_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.delete": {
      "post": {
        "operationId": "notifications.delete",
        "tags": ["notifications"],
        "summary": "通知削除（単一）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notifications_delete_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notifications.deleteAllRead": {
      "post": {
        "operationId": "notifications.deleteAllRead",
        "tags": ["notifications"],
        "summary": "既読通知を全削除",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notificationPreferences.get": {
      "get": {
        "operationId": "notificationPreferences.get",
        "tags": ["notificationPreferences"],
        "summary": "通知設定取得（ブラウザ/メール/プッシュ）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notificationPreferences.updateBrowserNotifications": {
      "post": {
        "operationId": "notificationPreferences.updateBrowserNotifications",
        "tags": ["notificationPreferences"],
        "summary": "ブラウザ通知ON/OFF更新",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notificationPreferences_updateBrowserNotifications_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notificationPreferences.updateEmailNotifications": {
      "post": {
        "operationId": "notificationPreferences.updateEmailNotifications",
        "tags": ["notificationPreferences"],
        "summary": "メール通知ON/OFF更新",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notificationPreferences_updateEmailNotifications_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notificationPreferences.updatePushNotifications": {
      "post": {
        "operationId": "notificationPreferences.updatePushNotifications",
        "tags": ["notificationPreferences"],
        "summary": "プッシュ通知ON/OFF更新",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notificationPreferences_updatePushNotifications_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/notificationPreferences.updateDefaultReminderMinutes": {
      "post": {
        "operationId": "notificationPreferences.updateDefaultReminderMinutes",
        "tags": ["notificationPreferences"],
        "summary": "デフォルトリマインダー時間更新（分単位）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notificationPreferences_updateDefaultReminderMinutes_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/onboarding.getProfile": {
      "get": {
        "operationId": "onboarding.getProfile",
        "tags": ["onboarding"],
        "summary": "オンボーディング用プロフィール取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/onboarding.complete": {
      "post": {
        "operationId": "onboarding.complete",
        "tags": ["onboarding"],
        "summary": "オンボーディング完了（名前・クロノタイプ保存+サンプルプラン生成）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onboarding_complete_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/onboarding.reset": {
      "post": {
        "operationId": "onboarding.reset",
        "tags": ["onboarding"],
        "summary": "オンボーディングリセット（再実行可能にする）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/userSettings.get": {
      "get": {
        "operationId": "userSettings.get",
        "tags": ["userSettings"],
        "summary": "ユーザー設定取得（カレンダー・表示・クロノタイプ等）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/userSettings.update": {
      "post": {
        "operationId": "userSettings.update",
        "tags": ["userSettings"],
        "summary": "ユーザー設定更新（upsert）",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/userSettings_update_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/userSettings.getICalToken": {
      "get": {
        "operationId": "userSettings.getICalToken",
        "tags": ["userSettings"],
        "summary": "iCalフィードトークン取得",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    },
    "/userSettings.regenerateICalToken": {
      "post": {
        "operationId": "userSettings.regenerateICalToken",
        "tags": ["userSettings"],
        "summary": "iCalフィードトークン再生成",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success（SuperJSON形式）"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Too Many Requests（100 req/min）"
          }
        },
        "x-rate-limit": "100 req/min",
        "x-auth-level": "protected"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sb-access-token",
        "description": "Supabase Auth セッションCookie"
      },
      "oauthBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 アクセストークン（MCP/外部連携用）"
      },
      "serviceRoleKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Service Role Key（管理者用、RLSバイパス）"
      }
    },
    "schemas": {
      "billing_createCheckoutSession_input": {
        "type": "object",
        "properties": {
          "priceId": {
            "type": "string",
            "pattern": "^price\\_"
          }
        },
        "required": ["priceId"],
        "additionalProperties": false
      },
      "contact_submit_input": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "enum": ["bug", "feature", "question", "other"]
          },
          "message": {
            "type": "string",
            "minLength": 10,
            "maxLength": 5000
          },
          "environment": {
            "type": "object",
            "properties": {
              "appVersion": {
                "type": "string"
              },
              "os": {
                "type": "string"
              },
              "browser": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              },
              "language": {
                "type": "string"
              }
            },
            "required": ["appVersion", "os", "browser", "timezone", "language"],
            "additionalProperties": false
          }
        },
        "required": ["category", "message", "environment"],
        "additionalProperties": false
      },
      "email_sendWelcome_input": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "userName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["email", "userName"],
        "additionalProperties": false
      },
      "email_sendReminder_input": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "userName": {
            "type": "string",
            "minLength": 1
          },
          "planTitle": {
            "type": "string",
            "minLength": 1
          },
          "startTime": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["email", "userName", "planTitle", "startTime"],
        "additionalProperties": false
      },
      "email_sendOverdue_input": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "userName": {
            "type": "string",
            "minLength": 1
          },
          "planTitle": {
            "type": "string",
            "minLength": 1
          },
          "endTime": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["email", "userName", "planTitle", "endTime"],
        "additionalProperties": false
      },
      "email_sendAccountDeletion_input": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "userName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["email", "userName"],
        "additionalProperties": false
      },
      "email_sendTest_input": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "default": "Test Email from Dayopt"
          }
        },
        "required": ["to"],
        "additionalProperties": false
      },
      "entries_list_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "origin": {
                "type": "string",
                "enum": ["planned"]
              },
              "search": {
                "type": "string",
                "maxLength": 200
              },
              "tagId": {
                "type": "string",
                "format": "uuid"
              },
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time"
              },
              "fulfillmentScoreMin": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              },
              "fulfillmentScoreMax": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              },
              "sortBy": {
                "type": "string",
                "enum": ["created_at", "updated_at", "title", "start_time"]
              },
              "sortOrder": {
                "type": "string",
                "enum": ["asc", "desc"]
              },
              "limit": {
                "type": "number",
                "minimum": 1,
                "maximum": 100
              },
              "offset": {
                "type": "number",
                "minimum": 0
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "entries_getById_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "include": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "entries_create_input": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 10000
          },
          "origin": {
            "type": "string",
            "enum": ["planned"]
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_start_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_end_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "duration_minutes": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "fulfillment_score": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "nullable": true
          },
          "reminder_enabled": {
            "type": "boolean"
          }
        },
        "required": ["title"],
        "additionalProperties": false
      },
      "entries_update_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 200
              },
              "description": {
                "type": "string",
                "maxLength": 10000
              },
              "origin": {
                "type": "string",
                "enum": ["planned"]
              },
              "start_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "end_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actual_start_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actual_end_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "duration_minutes": {
                "type": "integer",
                "minimum": 1,
                "nullable": true
              },
              "fulfillment_score": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3,
                "nullable": true
              },
              "reminder_enabled": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "expectedUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "data"],
        "additionalProperties": false
      },
      "entries_delete_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "entries_restore_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "entries_bulkUpdate_input": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 100
          },
          "data": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 200
              },
              "description": {
                "type": "string",
                "maxLength": 10000
              },
              "origin": {
                "type": "string",
                "enum": ["planned"]
              },
              "start_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "end_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actual_start_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actual_end_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "duration_minutes": {
                "type": "integer",
                "minimum": 1,
                "nullable": true
              },
              "fulfillment_score": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3,
                "nullable": true
              },
              "reminder_enabled": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        },
        "required": ["ids", "data"],
        "additionalProperties": false
      },
      "entries_bulkDelete_input": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 100
          }
        },
        "required": ["ids"],
        "additionalProperties": false
      },
      "entries_bulkAddTags_input": {
        "type": "object",
        "properties": {
          "entryIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 100
          },
          "tagId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["entryIds", "tagId"],
        "additionalProperties": false
      },
      "entries_getInstances_input": {
        "type": "object",
        "properties": {
          "entryIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 100
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          }
        },
        "required": ["entryIds"],
        "additionalProperties": false
      },
      "entries_createInstance_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "instanceDate": {
            "type": "string"
          },
          "exceptionType": {
            "type": "string",
            "enum": ["modified", "cancelled", "moved"]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "instanceStart": {
            "type": "string"
          },
          "instanceEnd": {
            "type": "string"
          },
          "originalDate": {
            "type": "string"
          }
        },
        "required": ["entryId", "instanceDate", "exceptionType"],
        "additionalProperties": false
      },
      "entries_deleteInstance_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "instanceDate": {
            "type": "string"
          }
        },
        "required": ["entryId", "instanceDate"],
        "additionalProperties": false
      },
      "entries_splitRecurrence_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "splitDate": {
            "type": "string"
          },
          "overrides": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "start_time": {
                "type": "string"
              },
              "end_time": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "required": ["entryId", "splitDate"],
        "additionalProperties": false
      },
      "entries_addTag_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "tagId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["entryId", "tagId"],
        "additionalProperties": false
      },
      "entries_removeTag_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "tagId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["entryId", "tagId"],
        "additionalProperties": false
      },
      "entries_setTags_input": {
        "type": "object",
        "properties": {
          "entryId": {
            "type": "string",
            "format": "uuid"
          },
          "tagId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "required": ["entryId", "tagId"],
        "additionalProperties": false
      },
      "entries_getTimeByTag_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "entries_getDailyHours_input": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "minimum": 2000,
            "maximum": 2100
          }
        },
        "required": ["year"],
        "additionalProperties": false
      },
      "entries_getHourlyDistribution_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "entries_getDayOfWeekDistribution_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "entries_getMonthlyTrend_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "months": {
                "type": "number",
                "minimum": 1,
                "maximum": 120
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "entries_getPlanRate_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getEstimationAccuracy_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getEnergyMap_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getContextSwitches_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getBlankRate_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "wakeHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23,
            "default": 7
          },
          "sleepHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23,
            "default": 23
          }
        },
        "additionalProperties": false
      },
      "entries_getCumulativeTime_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getAvgFulfillment_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "entries_getStatsOverview_input": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "wakeHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23,
            "default": 7
          },
          "sleepHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23,
            "default": 23
          }
        },
        "additionalProperties": false
      },
      "suggestions_recentTitles_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "search": {
                "type": "string",
                "maxLength": 200
              },
              "limit": {
                "type": "number",
                "minimum": 1,
                "maximum": 30,
                "default": 20
              },
              "type": {
                "type": "string",
                "enum": ["plan", "record"]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "tags_list_input": {
        "anyOf": [
          {
            "not": {}
          },
          {
            "type": "object",
            "properties": {
              "sortField": {
                "type": "string",
                "enum": ["name", "created_at", "updated_at", "tag_number"],
                "default": "name"
              },
              "sortOrder": {
                "type": "string",
                "enum": ["asc", "desc"],
                "default": "asc"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "tags_getById_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "tags_create_input": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "color": {
            "type": "string",
            "enum": [
              "red",
              "orange",
              "amber",
              "green",
              "teal",
              "blue",
              "indigo",
              "violet",
              "pink",
              "gray"
            ]
          }
        },
        "required": ["name"],
        "additionalProperties": false
      },
      "tags_update_input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "color": {
            "type": "string",
            "enum": [
              "red",
              "orange",
              "amber",
              "green",
              "teal",
              "blue",
              "indigo",
              "violet",
              "pink",
              "gray"
            ]
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "tags_merge_input": {
        "type": "object",
        "properties": {
          "sourceTagId": {
            "type": "string",
            "format": "uuid"
[...]
